.footer {
  background: #212529;
  height: 10rem;
  margin-top: 20px;
}
.footer-section {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.footer-title {
  color: #ffc107;
  margin: 20px 0 12px 0;
}
.footer-link {
  padding: 2px 0 2px;
}
.footer-link img {
  margin-right: 5px;
}
.footer-link a {
  text-decoration: none;
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.5);
}
.footer-link a:hover {
  color: #e3e3e3;
}
.footer-link a:active {
  color: #ffc107;
}
